@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.navegacion ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    flex-wrap: wrap;
    box-shadow: 0px 1px 2px 0px #00000017;
    justify-content: center;
    width: 100vw;
}

.navegacion ul li {
    margin: 0 10px;
    margin-bottom: 6px;
}

.navegacion a {
    display: flex;
    justify-content: space-around;
}

.navegacion a img {
    width: 50px;
    margin: 10px;
}

.navegacion ul li a {
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
    color: black;
}

.sliderTamaño {
    width: 100%; /* Cambiado de max-width a width */
    margin: auto;
}

.index-h2{
    text-align: center;
    font-family:"Roboto Condensed", sans-serif ;
}

h1 {
    font-size: 20px;
    text-align: center;
}

p {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    font-size: 10px;
    margin: 10px 2px 2px 2px;
}



.section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 400px);
    grid-template-areas:
        "img-2"
        "img-3"
        "img-4"
        "img-5";
    max-width: 900px; /* Ajustado el ancho máximo al 100% para adaptarse al tamaño de la pantalla */
    margin: auto;
   
}

.grid{
    display: none;
}

.img-2 {
    grid-area: img-2;
    color: white;
    background-image: url(./Resourse/4.png);
    background-size: cover;
    
}  
  

.img-3 {
    grid-area: img-3;
    color: white;
    background-image: url(./Resourse/5.png);
    background-size: cover;
    object-fit: cover;
 
    
}

.img-4 {
    grid-area: img-4;
    color: white;
    background-image: url(./Resourse/2.png);
    background-size: cover;
    
}

.img-5 {
    grid-area: img-5;

    color: white;
    background-image: url(./Resourse/3.png);
    background-size: cover;
    
}

.formulario-contacto{
    width: 350px;
    margin: auto;
}

.main-venta{
    margin: auto;
   
}
.main-venta h1{
    text-align: center;
}

.grilla-venta div{
    display: flex;
    justify-content: center;
}
.grilla-venta img{
    width: 320px;
    margin-top: 10px;
}
.video-iframe{
    width: 320px;
    display: flex;
    margin: auto;
    margin-top: 20px;
}

/* Estrategia mobile first */
@media (min-width: 768px) {
    .section1 {
        display: grid; 
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 300px);
        gap: 5px;
        grid-template-areas: 
     "img-2 img-3 img-4 img-5"; 
        /* max-width: 400px; */
        
   
}
}

@media (min-width:768px){
  
    .grid{
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .grid img{ 
         width: 898px;
         margin: 5px;
         margin-top: 20px;
    }
   
}
@media(min-width:479px){
    .grilla-venta{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        max-width: 630px;
        margin: auto;
       
    }
    .grilla-venta img{
        max-width: 200px;
    }
    .main-venta{
        min-width: 335px;
    }
}
@media (min-width:479){
    .h1-venta{
        text-align: center;
    }
   
}

@media (min-width:479px){
    .video-iframe{
        width: 635px;
        height: 350px;
        margin-top: 20px;
      
    }
}

